@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat overflow-x-hidden;
  }

  h1 {
    @apply font-bold;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 4.25rem;
    line-height: 4.875rem;
  }

  h2 {
    @apply font-bold;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.875rem;
    line-height: 2.125rem;
  }

  h3 {
    @apply font-bold font-montserrat;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  h3.orange-underline {
    @apply text-primary-600;
  }
  h3.orange-underline::after {
    @apply mt-1 block border-b-3 border-secondary-600 w-36 rounded-lg;
    content: "";
  }

  h4 {
    @apply font-bold;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  select {
    @apply bg-white rounded-lg py-3 pl-6 pr-7;
    color: #676767;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("./assets/images/select_dropdown.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1rem);
    background-position-y: 50%;
  }
}

@layer components {
  .btn-standard {
    @apply inline-block py-3 text-center bg-secondary-600 rounded-lg font-montserrat font-bold;
  }

  .btn-rounded {
    @apply inline-flex items-center px-4 py-3 leading-7 rounded-full bg-white text-grey-800 border border-grey-800;
  }

  .btn-rounded--orange {
    @apply text-white bg-secondary-600 border-secondary-600;
  }
}

@layer utilities {
  .inner-container {
    @apply mx-auto px-2.5;
    max-width: 71.875rem;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .font-helvetica {
    font-family: "Helvetica", "Arial", sans-serif;
  }

  .li-inline li {
    @apply inline;
  }

  .absolute-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .box-shadow-1 {
    box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.25);
  }
}

/* HERO */
.hero {
  padding: 2rem 0 16.875rem 0;
  background-image: url("assets/images/hero/hero_background.png");
  background-position: center;
  background-size: cover;
  @apply bg-blue-100;
}
@screen xs {
  .hero {
    padding: 6rem 0 16.875rem 0;
  }
}
@screen sm {
  .hero {
    padding: 11rem 0 16.875rem 0;
  }
}

/* HOMEPAGE SEARCH */
#homepage-search {
  box-shadow: 0px 5px 28px rgba(51, 51, 51, 0.25);
}
.homepage-search__select-container {
  @apply w-full md:w-1/3 p-2.5;
}
#homepage-search select {
  @apply w-full mt-1.5;
}

/* HOW IT WORKS SECTION */
.how-it-works__card-container {
  @apply flex items-center w-96 md:w-144 lg:w-72;
}
.how-it-works__title {
  @apply text-base font-bold;
}
.how-it-works__details {
  @apply mt-2 text-xs;
}

/* HOUSE CARD */
.house-card__tag {
  @apply flex items-center absolute py-2 top-7 pl-2.5 pr-5 rounded-r-full text-sm font-bold text-white;
}
.house-card__tag--new-house {
  @apply bg-primary-600 bg-opacity-60;
}
.house-card__tag--new-house::before {
  @apply h-5.5;
  content: url(assets/images/icons/house_white.svg);
}
.house-card__tag--popular {
  @apply bg-secondary-600 bg-opacity-60;
}
.house-card__tag--popular::before {
  @apply h-5.5;
  content: url(assets/images/icons/fire_white.svg);
}

/* POPULAR CITIES */
.popular-cities-card {
  @apply w-1/2 p-2 md:p-4 sm:w-1/4;
}
.popular-cities-card__anchor {
  @apply relative block w-full bg-grey-800 hover:box-shadow-1;
}
.popular-cities-card__image {
  @apply object-cover w-full opacity-50  max-h-144 sm:max-h-none sm:h-96 md:h-144 lg:h-185;
}
.popular-cities-card__title {
  @apply absolute transform -translate-x-1/2 left-1/2 bottom-12;
}
