@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 4.25rem;
    line-height: 4.875rem;
  }

  h2 {
    @apply font-bold;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.875rem;
    line-height: 2.125rem;
  }
}

@layer components {
  .btn {
    @apply bg-red-700 text-white rounded px-4 py-2;
  }
}

@layer utilities {
  .inner-container {
    @apply mx-auto;
    max-width: 70.625rem;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .font-helvetica {
    font-family: "Helvetica", "Arial", sans-serif;
  }

  .li-inline li {
    @apply inline;
  }

  .absolute-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* HERO */
.hero {
  padding: 11rem 0 16.875rem 0;
  background-image: url("assets/images/hero_background.png");
  background-position: center;
  background-size: cover;
  @apply bg-blue-100;
}
