@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-red-700 text-white rounded px-4 py-2;
  }
}

@layer utilities {
  .inner-container {
    @apply mx-auto;
    max-width: 70.625rem;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .li-inline li {
    @apply inline;
  }
}

/* HERO */
.hero-background {
  background-image: url("images/hero_background.png");
  background-position: center;
  background-size: cover;
  @apply bg-blue-100;
}
}